<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>報修網站</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">

</head>

<body>
  <div class="wrap-index">
    <div class="background-video-index">
      <video autoplay muted loop playsinline>
        <source src="https://i.imgur.com/6Uc3TAS.mp4" type="video/mp4" />
      </video>
    </div>

    <%- include("../components/header.ejs") %>

      <div class="marquee">
        <div class="gradually-text"></div>
      </div>

      <main>
        <div class="container">
          <div class="container-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iT_BCzcuF2g?si=FthxhYqrLv-Xz-N1"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <div class="container-text">
            <p>
              在這段教學影片中，我們使用一台測試主機，以實際操作示範方式教導觀眾如何有效地進行電腦故障排除。透過清晰的解說和操作示範，讓觀眾能夠熟悉並掌握解決電腦常見問題的方法，提升他們的電腦維修技能。這段影片可於Youtube頻道
              <a href="https://www.youtube.com/@allenhaw" target="_blank">#跟我修電腦</a> 中找到
            </p>

          </div>
        </div>
      </main>

      <%- include("../components/footer.ejs") %>

  </div>
  <script>

    let strArr = [["電腦又故障了嗎？", "立即填寫報修單，幫您查看問題所在！"], ["故障的電腦困擾著您嗎？", "讓我們來修吧！", "信賴的電腦維修服務，讓您的生活更輕鬆！"], ["一個出色的電腦維修服務不僅僅是解決問題", "而是提供持久且可靠的解決方案", "我們的團隊將竭盡所能，為您的電腦帶來最佳的維護與修復"]];


    let div = document.querySelector(".gradually-text");

    const delay = (ms) => {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          resolve();
        }, ms)
      })
    }

    async function create(arr) {
      await delay(1000);

      for (let i of arr) {
        const p = document.createElement("p");
        div.appendChild(p);
        for (let j of i) {
          console.log(j);
          p.textContent += j;
          await delay(150);
        }
      }


    }


    function remove() {
      let p_all = div.querySelectorAll("p")
      p_all.forEach((i) => {
        i.remove();
      })

    }

    async function init() {
      while (true) {
        for (let i of strArr) {
          await create(i);
          await delay(1000);
          await remove();
        }


      }

    }
    init();





  </script>

</body>

</html>