<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>login</title>
</head>


<body>
    <div class="wrap-login">
        <div class="background-video-login">
            <video autoplay muted loop playsinline>
                <source src="https://i.imgur.com/T1Sj9hR.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="background-layer"></div>
        <form action="/login" method="post" class="login">
            <div class="login-item">
                <h1>管理者登入</h1>
            </div>
            <div class="login-item">
                <span class="loginicon"><i class="fa-solid fa-user"></i></span>
                <input type="text" name="account" id="account" required placeholder="帳號">

            </div>
            <div class="login-item">
                <span class="loginicon"><i class="fa-solid fa-lock"></i></span>
                <input type="password" name="password" id="password" required placeholder="密碼">
            </div>
            <div class="login-item">
                <button>登入</button>
            </div>
            <div class="login-google">
                <a href="/auth/google">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
                    Google登入
                </a>
            </div>

        </form>

    </div>

    <div class="prompt-layer">
        <div class="prompt">
            <div class="prompt-title">
                <p>錯誤提示</p>
                <p id="msg"></p>
            </div>

            <a class="prompt-sumbit" href="/login"><span>重試</span></a>
        </div>
    </div>

    <div class="background-layer"></div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const sec = urlParams.get("success");
        const msg = urlParams.get("msg");

        if (sec === "false") {
            document.getElementById("msg").textContent = msg;
            document.querySelector(".prompt-layer").style.display = "flex";
        }
    </script>

</body>

</html>