<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>叫修單</title>
</head>

<body>
  <div class="repair">
    <div class="background-video-repair">
      <video autoplay muted loop playsinline>
        <!-- <source src="https://i.imgur.com/AkX7vRF.mp4" type="video/mp4" /> -->
      </video>
    </div>

    <div>
      <%- include("../components/header.ejs") %>
    </div>

    <div class="repair-body">
      <div class="report-warning">
        <div>
          <h1>填寫維修單</h1>
          <p>報修單填寫完畢後，如要查詢案件進度，可從<a href="/inquire">#叫修查詢</a>中查看</p>
        </div>
      </div>

      <div class="section" id="section01">
        <div class="radio-quess">
          <h1>1.請問你的問題類別屬於?</h1>
          <div class="radio-form">
            <div class="radio-category">
              <input type="radio" name="about" id="radio1" value="硬體相關" checked>
              <label for="radio1" onclick="changpage(1)">硬體相關</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about" id="radio2" value="軟體相關">
              <label for="radio2" onclick="changpage(2)">軟體相關</label>
            </div>
          </div>

          <h1>2.更詳細的問題?</h1>
          <div class="radio-detailed1">
            <div class="radio-category">
              <input type="radio" name="about-hard" id="radio1-1" value="硬碟無法被偵測或儲存檔案錯誤" checked
                onclick="handleOther()">
              <label for="radio1-1">硬碟無法被偵測或儲存檔案錯誤</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-hard" id="radio1-2" value="螢幕顯示問題例如不亮或閃爍" onclick="handleOther()">
              <label for="radio1-2">螢幕顯示問題例如不亮或閃爍</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-hard" id="radio1-3" value="鍵盤或滑鼠失靈或按鍵無反應" onclick="handleOther()">
              <label for="radio1-3">鍵盤或滑鼠失靈或按鍵無反應</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-hard" id="radio1-4" value="" onclick="handleOther()">
              <label for="radio1-4">其他</label>
            </div>
          </div>

          <div class="radio-detailed2">
            <div class="radio-category">
              <input type="radio" name="about-Software" id="radio2-1" value="程式無法使用" checked onclick="handleOther()">
              <label for="radio2-1">程式無法使用</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-Software" id="radio2-2" value="軟體錯誤異常" onclick="handleOther()">
              <label for="radio2-2">軟體錯誤異常</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-Software" id="radio2-3" value="重灌需求" onclick="handleOther()">
              <label for="radio2-3">重灌需求</label>
            </div>

            <div class="radio-category">
              <input type="radio" name="about-Software" id="radio2-4" value="" onclick="handleOther()">
              <label for="radio2-4">其他</label>
            </div>


          </div>

          <div class="repair-main" id="handleother" style="display: none;">
            <div class="body-content">
              <label for="content">故障內容:</label>
              <p><textarea id="content" name="content"></textarea></p>
            </div>
          </div>

          <button class="nextbutton" type="button" onclick="scrollToNext()">下一步</button>

        </div>

      </div>

      <div class="slide" onclick="event.preventDefault()">
        <div>
          <input type="radio" name="slides" id="slide01" checked>
          <div class="radio-input"></div>
        </div>
        <div>
          <input type="radio" name="slides" id="slide02">
          <div class="radio-input"></div>
        </div>



      </div>

      <div class="section" id="section02">
        <div class="repair-main-input">
          <div class="input-row">
            <label for="name">姓名:</label>
            <p><input type="text" id="name" name="name" required="required" /></p>
          </div>

          <div class="input-row">
            <label for="phone">電話:</label>
            <p><input type="number" id="phone" name="phone" /></p>
          </div>

          <div class="input-row">
            <label for="unit">地址:</label>
            <p><input type="text" id="unit" name="unit" /></p>
          </div>

          <div class="data-button">
            <button onclick="pushdata()">傳送資料</button>
          </div>
        </div>


      </div>
    </div>


    <div class="topmost-layer">
      <a href="#aa">
        <div>
          <img src="../img/iconscroll.png" alt="回最上層">
          TOP
        </div>
      </a>
    </div>

    <div id="errorModal" class="modal">
      <div class="modal-content">
        <p id="errorText">尚有資料未填寫或是格式錯誤</p>
        <span class="close">&times;</span>
      </div>

    </div>

  </div>

  <div>
    <%- include("../components/footer.ejs") %>
  </div>

  </div>

  <script>
    //打API到後端app.js
    function pushdata() {
      const name = document.getElementById("name").value;
      const phone = document.getElementById("phone").value;
      const unit = document.getElementById("unit").value;

      //將相關資料加入字串傳入資料庫
      const about = document.getElementsByName("about");
      const abouthard = document.getElementsByName("about-hard");
      const aboutSoftware = document.getElementsByName("about-Software");
      let str = "";
      for (let i = 0; i < about.length; i++) {
        if (about[i].checked) {
          if (about[i].value != "") {
            str += about[i].value + " ";
          } else {
            const content = document.getElementById("content").value;
            str += content + " ";
          }
        }
      }

      for (let i = 0; i < abouthard.length; i++) {
        if (abouthard[i].checked) {
          if (abouthard[i].value != "") {
            str += abouthard[i].value + " ";
          } else {
            const content = document.getElementById("content").value;
            str += content + " ";
          }
        }
      }

      for (let i = 0; i < aboutSoftware.length; i++) {
        if (aboutSoftware[i].checked) {
          if (aboutSoftware[i].value != "") {
            str += aboutSoftware[i].value + " ";
          } else {
            const content = document.getElementById("content").value;
            str += content + " ";
          }
        }
      }

      function showErrorModal() {
        const modal = document.getElementById("errorModal");
        modal.style.display = "block";

        const span = document.getElementsByClassName("close")[0];
        span.onclick = function () {
          modal.style.display = "none";
        };

        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
      }



      fetch("/repair", {
        method: "post",
        body: JSON.stringify({ name, phone, unit, content: str }),
        headers: { "Content-Type": "application/json" },
      })
        .then((response) => response.json())
        .then((data) => {
          // 處理回傳的資料
          console.log(data);
          if (data.code == 0) {
            alert("資料成功上傳");
            let a = document.createElement("a");
            a.href = "/";
            a.click();
          } else {
            showErrorModal();
          }
        })
        .catch((error) => {
          // 處理錯誤
          console.error("發生錯誤:", error);
        });
    }

    //打API
    function send() {
      let elemets = document.getElementsByName('about');

      const slideRadios = document.querySelectorAll('.slide input[type="radio"]');

      for (let i = 0; i < elemets.length; i++) {
        if (elemets[i].checked) {
          console.log(elemets[i].value);
          break;
        }
      }
      slideRadios[0].checked = false;
      slideRadios[1].checked = true;

    }

    function scrollToNext() {
      const slide01 = document.querySelector('#slide01');
      const slide02 = document.querySelector('#slide02');

      if (slide01.checked) {
        slide02.checked = true;
        slide01.checked = false;
      } else {
        slide02.checked = false;
        slide01.checked = true;
      }


      const section = document.querySelectorAll('.section');
      const section02 = document.querySelector('#section02');
      const section01 = document.querySelector('#section01');

      for (let i = 0; i < section.length; i++) {
        section[i].classList.add('scroll');
        console.log(section[i]);

      }

    }

    //轉換問題
    function changpage(value) {
      const detail1 = document.querySelector('.radio-detailed1');
      const detail2 = document.querySelector('.radio-detailed2');
      const handleother = document.getElementById('handleother');

      handleother.style.display = 'none';

      const radio1 = document.getElementById('radio1-1');
      const radio2 = document.getElementById('radio2-1');

      if (value === 1) {
        detail1.style.display = 'flex';
        detail2.style.display = 'none';
        radio1.checked = true;
        radio2.checked = false;
      } else if (value === 2) {
        detail1.style.display = 'none';
        detail2.style.display = 'flex';
        radio1.checked = false;
        radio2.checked = true;
      }


    }


    function handleOther() {
      const handleother = document.getElementById('handleother');
      const radioOther1 = document.getElementById('radio1-4');
      const radioOther2 = document.getElementById('radio2-4');

      if (radioOther1.checked || radioOther2.checked) {
        handleother.style.display = 'block';
      } else {
        handleother.style.display = 'none';
      }

    }


    changpage(1);
  </script>
</body>

</html>