<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../styles/style.css" />
  <title>叫修單</title>
</head>

<body>
  <div class="repair">
    <div class="background-video-repair">
      <video autoplay muted loop playsinline>
        <!-- <source src="https://i.imgur.com/AkX7vRF.mp4" type="video/mp4" /> -->
      </video>
    </div>

    <div>
      <%- include("../components/header.ejs") %>
    </div>

    <div class="repair-body">

      <div class="section" id="section01">
        <div class="radio-quess">1.請問你的問題類別屬於?</div>
        <div class="radio-form">
          <div class="radio-category">
            <input type="radio" name="about" id="radio1" value="1" checked>
            <label for="radio1" onclick="changpage(1)">硬體相關</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about" id="radio2" value="2">
            <label for="radio2" onclick="changpage(2)">軟體相關</label>
          </div>
        </div>

        <div class="radio-quess">2.更詳細的問題?</div>
        <div class="radio-detailed1">
          <div class="radio-category">
            <input type="radio" name="about-hard" id="radio1-1" checked onclick="handleOther()">
            <label for="radio1-1">硬碟無法被偵測或儲存檔案錯誤</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-hard" id="radio1-2" onclick="handleOther()">
            <label for="radio1-2">螢幕顯示問題例如不亮或閃爍</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-hard" id="radio1-3" onclick="handleOther()">
            <label for="radio1-3">鍵盤或滑鼠失靈或按鍵無反應</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-hard" id="radio1-4" onclick="handleOther()">
            <label for="radio1-4">其他</label>
          </div>
        </div>

        <div class="radio-detailed2">
          <div class="radio-category">
            <input type="radio" name="about-Software" id="radio2-1" checked onclick="handleOther()">
            <label for="radio2-1">程式無法使用</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-Software" id="radio2-2" onclick="handleOther()">
            <label for="radio2-2">軟體錯誤異常</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-Software" id="radio2-3" onclick="handleOther()">
            <label for="radio2-3">重灌需求</label>
          </div>

          <div class="radio-category">
            <input type="radio" name="about-Software" id="radio2-4" onclick="handleOther()">
            <label for="radio2-4">其他</label>
          </div>
        </div>

        <div class="repair-main" id="handleother" style="display: none;">
          <div class="body-content">
            <label for="content">故障內容:</label>
            <p><textarea id="content" name="content"></textarea></p>
          </div>
        </div>

        <button class="nextbutton" type="button" onclick="scrollToNext()">下一步</button>

        <div class="slide">
          <input type="radio" name="slides" id="slide01" checked>
          <input type="radio" name="slides" id="slide02">
        </div>
      </div>



      <div class="section" id="section02" style="display: none;">
        <div class="repair-main">
          <div>
            <label for="name">名字:</label>
            <p><input type="text" id="name" name="name" /></p>
          </div>

          <div>
            <label for="phone">電話:</label>
            <p><input type="number" id="phone" name="phone" /></p>
          </div>

          <div>
            <label for="unit">地址:</label>
            <p><input type="text" id="unit" name="unit" /></p>
          </div>

          <div class="data-button">
            <button onclick="pushdata()">傳送資料</button>
          </div>
        </div>









      </div>



    </div>

  </div>

  <div>
    <%- include("../components/footer.ejs") %>
  </div>

  </div>

  <script>
    //打API到後端app.js
    function pushdata() {
      let name = document.getElementById("name").value;
      let phone = document.getElementById("phone").value;
      let unit = document.getElementById("unit").value;
      let content = document.getElementById("content").value;
      fetch("/repair", {
        method: "post",
        body: JSON.stringify({ name, phone, unit, content }),
        headers: { "Content-Type": "application/json" },
      })
        .then((response) => response.json())
        .then((data) => {
          // 處理回傳的資料
          console.log(data);
          if (data.code == 0) {
            alert("資料成功上傳");
            let a = document.createElement("a");
            a.href = "/";
            a.click();
          } else {
            alert("Error!資料上傳失敗");
          }
        })
        .catch((error) => {
          // 處理錯誤
          console.error("發生錯誤:", error);
        });
    }

    //打API
    function send() {
      let elemets = document.getElementsByName('about');

      const slideRadios = document.querySelectorAll('.slide input[type="radio"]');

      for (let i = 0; i < elemets.length; i++) {
        if (elemets[i].checked) {
          console.log(elemets[i].value);
          break;
        }
      }
      slideRadios[0].checked = false;
      slideRadios[1].checked = true;

    }

    function scrollToNext() {
      const slide01 = document.querySelector('#slide01');
      const slide02 = document.querySelector('#slide02');

      if (slide01.checked) {
        slide02.checked = true;
        slide01.checked = false;
      } else {
        slide02.checked = false;
        slide01.checked = true;
      }

      const section01 = document.querySelector('#section01');
      const section02 = document.querySelector('#section02');
      const slide = document.querySelector('.slide');

      slide.style.display = 'grid';
      section01.style.display = 'none';
      section02.style.display = 'flex';



    }

    //轉換問題
    function changpage(value) {
      const detail1 = document.querySelector('.radio-detailed1');
      const detail2 = document.querySelector('.radio-detailed2');
      const handleother = document.getElementById('handleother');

      handleother.style.display = 'none';

      const radio1 = document.getElementById('radio1-1');
      const radio2 = document.getElementById('radio2-1');

      if (value === 1) {
        detail1.style.display = 'flex';
        detail2.style.display = 'none';
        radio1.checked = true;
        radio2.checked = false;
      } else if (value === 2) {
        detail1.style.display = 'none';
        detail2.style.display = 'flex';
        radio1.checked = false;
        radio2.checked = true;
      }


    }


    function handleOther() {
      const handleother = document.getElementById('handleother');
      const radioOther1 = document.getElementById('radio1-4');
      const radioOther2 = document.getElementById('radio2-4');

      if (radioOther1.checked || radioOther2.checked) {
        handleother.style.display = 'block';
      } else {
        handleother.style.display = 'none';
      }


    }

    changpage(1);
  </script>
</body>

</html>