<footer>
    <div class="footer">
        <div class="footer-title">
            <div class="footer-title-logo">
                <img src="../img/logo2.svg" />
                <a href="#aa">維修System</a>
            </div>


            <div class="footer-title-information">
                <div>
                    <a href="https://www.facebook.com/profile.php?id=100003499411188" target="_blank"><img
                            src="../img/facebook.png" alt="Facebook"></a>
                </div>
                <div>
                    <a href="https://www.instagram.com/zxc2545285/" target="_blank"><img src="../img/instagram.png"
                            alt="Instagram"></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UCwKFHwDqJX7vuDizlaelX8g" target="_blank"><img
                            src="../img/youtube.png" alt="Youtube"></a>
                </div>
            </div>
        </div>

        <div class="footer-body">
            <div class="footer-body-section01">
                <div class="tc-gold">Call Me</div>
                <div class="footer-body-ContactInformation">

                    <div class="contact-info">
                        <div>TEL:</div>
                        <div>0979387670</div>
                    </div>
                    <div class="contact-info">
                        <div>Mail:</div>
                        <div>w00010110810@gmail.com</div>
                    </div>
                </div>

            </div>
            <div class="footer-body-section02">
                <div class="tc-gold">About</div>
                <h2>
                    我們致力於提供優質的硬體維修到府服務，為您解決各種技術問題，讓您的生活更加輕鬆無憂。我們的專業團隊以顧客至上為宗旨，不僅提供迅速高效的修復，更注重與客戶間的良好溝通與信任建立。無論您遇到何種維修困境，我們將以專業知識和經驗豐富的技師團隊為您解決疑難雜症。
                </h2>
            </div>

        </div>

        <!-- <div>Youhao©</div> -->
    </div>
</footer>