<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+TC&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<div id="aa"></div>

<div class="header">
    <div class="logo">
        <img src="https://i.imgur.com/zYHDUPx.png" width="32px" height="32px" />
        <a href="/">
            <h1>維修System</h1>
        </a>
    </div>
    <div class="menu">
        <span class="menu-bars" onclick="openbars()"><i class="fa-solid fa-bars"></i></span>
        <ul>
            <li><a href="/repair">申請報修</a></li>
            <li><a href="/inquire">叫修查詢</a></li>
            <li>
                <div class="head-right">
                    <div class="useravatar" onclick="unfolddata()">
                        <img src="" alt="">
                    </div>
                    <div class=" personaldata">
                        <div class="triangle"></div>

                        <div class="btn-primary">
                            <a href="/auth/logout">
                                <span>
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>
                                登出
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>
<div class="topmost-layer">
    <a href="#aa">
        <div>
            <span><i class="fa-solid fa-angles-up"></i></span>
        </div>
    </a>
</div>

<script>
    window.onscroll = function () { scrollFunction() };

    let boo = true;

    //打API去拿google的資料
    fetch("/user/info", {
        method: "get",
    }).then((response) => response.json()).then((userdata) => {
        let useravatar = document.querySelector(".useravatar img");
        useravatar.src = userdata.photo;

        // let avatar = document.querySelector(".useravatar");
        // avatar.style = "visibility:visible";

    }).catch(e => {
        console.log(e);
    })

    //header滾輪下滑出現
    function scrollFunction() {
        var header = document.querySelector('.header');

        if (document.body.scrollTop > 95 || document.documentElement.scrollTop > 95) {
            header.style.transform = "translateY(0)";
            header.style.boxShadow = '3px 3px 5px 1px rgb(0, 0, 0)';
            header.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
            header.style.transition = 'top 0.3 ease';
            header.style.top = '0';

        } else {
            header.style.boxShadow = 'none';
            header.style.backgroundColor = 'transparent';
            header.style.transition = 'top 0.3s ease';
            header.style.top = '-80%'; // 隱藏起來
        }
    }

    //點選頭像展開個人資料
    function unfolddata() {
        let personaldata = document.querySelector(".personaldata");
        personaldata.classList.toggle("personaldata_show");

    }

    function openbars() {
        let ul = document.querySelector(".menu ul");

        ul.classList.toggle("ulshow");
    }
</script>