<div class="header">
    <div class="logo" id="aa">
        <img src="../img/logo2.svg" width="50px" height="50px" />
        <a href="/">
            <h1>維修System</h1>
        </a>
    </div>

    <div class="menu">
        <ul>
            <li><a href="/repair">申請報修</a></li>
            <li><a href="/inquire">叫修查詢</a></li>
        </ul>
    </div>
</div>