.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1;
    transform: translateY(-100%);

    .logo {
        display: flex;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0);
        padding-left: 0.5rem;

        a {
            text-decoration: none;
            color: white;
            margin: 1rem 0rem;

            h1 {
                margin: 0.5rem;
                font-size: 1.5rem;
                font-family: "Indie Flower", cursive;
                font-family: "Noto Sans TC", sans-serif;
            }
        }
    }

    .menu {
        .menu-bars {
            color: #ffffff;
            visibility: hidden;
        }

        ul {
            list-style: none;
            display: flex;
            padding: 0rem 3rem;

            li {
                margin: 0rem;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                .head-right {
                    margin-left: 0.5rem;
                    position: relative;

                    .useravatar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        cursor: pointer;
                        visibility: hidden;
                        opacity: 0;
                    }

                    .useravatar_show {
                        visibility: visible;
                        opacity: 1;
                    }

                    // .useravatar_hidden {
                    //     visibility: hidden;
                    // }

                    .personaldata {
                        position: absolute;
                        right: 50%;
                        top: 180%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 120px;
                        height: 150px;
                        background-color: rgb(214, 214, 214);
                        border-radius: 10px 0px 10px 10px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease;
                        box-shadow: 3px 3px 3px 3px #000000;

                        .triangle {
                            position: absolute;
                            top: -10%;
                            right: 0;
                            width: 0px;
                            height: 0px;
                            border-top: 15px solid transparent;
                            border-bottom: 10px solid transparent;
                            // border-left: 10px solid transparent;
                            border-right: 20px solid rgb(214, 214, 214);
                        }

                        .btn-primary {
                            font-size: 1.2rem;
                            display: flex;

                            span {
                                margin-right: 1rem;
                            }

                            a {
                                text-decoration: none;
                                background-color: blue;
                                padding: 0.5rem;
                                border-radius: 10px;
                                white-space: nowrap; //不要換行
                            }
                        }
                    }

                    .personaldata_show {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                a {
                    text-decoration: none;
                    color: rgb(192, 192, 192);
                    font-size: 1rem;
                    margin: 1.5rem;
                    padding: 1rem 0.3rem;
                    transition: all 0.3s ease;
                    display: block;
                    font-family: "Indie Flower", cursive;
                    font-family: "Noto Sans TC", sans-serif;
                }

                a:hover {
                    transform: scale(1.1);
                    color: white;
                    box-shadow: inset 0 -2px 0 -1px#ffffff;
                }
            }
        }
    }
}

.header::after {
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0);
}

footer {
    .footer {
        width: 100%;
        height: 50vh;
        display: flex;
        font-size: 1.5rem;
        background-color: rgb(230, 230, 230);
        align-items: center;
        flex-direction: column;

        .footer-title {
            width: 80%;
            height: 20%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(175, 175, 175);
            justify-content: space-between;

            img {
                height: 30px;
                width: 30px;
                margin: 0.5rem;
            }

            .footer-title-logo {
                display: flex;
                align-items: center;

                p {
                    text-decoration: none;
                    color: #000000;
                }
            }

            .footer-title-information {
                display: flex;

                div {
                    margin: 0.5rem;

                    a {
                        text-decoration: none;
                        color: #000000;

                        img {
                            transform: scale(1, 1);
                            transition: all 0.5s ease;
                        }

                        img:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .footer-body {
            width: 80%;
            display: flex;
            justify-content: space-between;

            .footer-body-section01 {
                .footer-body-ContactInformation {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 1rem 0rem;

                    div {
                        margin: 0.5rem 0rem;
                    }

                    .contact-info {
                        display: grid;
                        grid-template-columns: 50px 200px;
                        align-items: center;

                        span {
                            color: rgb(161, 153, 153);
                        }
                    }
                }
            }

            .footer-body-section02 {
                width: 50%;

                h2 {
                    font-size: 25px;
                    font-weight: bold;
                    margin: 1.5rem 0rem;
                    letter-spacing: 2px;
                }
            }

            .tc-gold {
                margin-top: 1rem;
                color: rgb(126, 17, 216);
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .header {
        .menu {
            position: relative;

            ul {
                position: absolute;
                flex-direction: column;
                right: 0;
                top: 200%;
                white-space: nowrap;
                background-color: #181515;
                padding: 0;
                border-radius: 10px;
                border: 1px solid #ffffff;
                visibility: hidden;

                li {
                    padding: 0.5rem;

                    a {
                        padding: 0;
                    }

                    .head-right {
                        .useravatar {
                            opacity: 0;
                            visibility: hidden;
                        }

                        .useravatar_show2 {
                            opacity: 1;
                            visibility: visible;
                        }

                    }
                }
            }

            .ulshow {
                opacity: 1;
                visibility: visible;
            }

            .menu-bars {
                visibility: visible;
                margin: 0rem 2rem;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .logo {
            a {
                h1 {
                    // font-size: 10px;
                }
            }
        }
    }

    footer {
        .footer {
            .footer-body {
                flex-direction: column;

                .footer-body-section02 {
                    width: 100%;
                }
            }
        }
    }
}