.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1;
    .logo {
        display: flex;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0);

        a {
            text-decoration: none;
            color: white;

            h1 {
                margin: 0.5rem;
                font-size: 50px;
            }
        }
    }

    .menu {
        ul {
            list-style: none;
            display: flex;
            padding: 0rem 3rem;

            li {
                margin: 0rem 0.5rem;
                border-radius: 0.5rem;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                    padding: 1rem;
                    transition: all 0.3s ease;
                    display: block;
                }

                a:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.header::after {
    box-shadow: 3px 3px 5px 1px rgb(0, 0, 0);
}

footer {
    .footer {
        width: 100%;
        height: 50vh;
        display: flex;
        font-size: 1.5rem;
        background-color: rgb(230, 230, 230);
        align-items: center;
        flex-direction: column;

        .footer-title {
            width: 80%;
            height: 20%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(175, 175, 175);
            justify-content: space-between;

            img {
                height: 30px;
                width: 30px;
                margin: 0.5rem;
            }

            .footer-title-logo {
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #000000;
                }
            }

            .footer-title-information {
                display: flex;

                div {
                    margin: 0.5rem;

                    a {
                        text-decoration: none;
                        color: #000000;

                        img {
                            transform: scale(1, 1);
                            transition: all 0.5s ease;
                        }

                        img:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }

        .footer-body {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            .footer-body-section01 {
                .footer-body-ContactInformation {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 1rem 0rem;

                    div {
                        margin: 0.5rem 0rem;
                    }

                    .contact-info {
                        display: grid;
                        grid-template-columns: 100px 100px;
                    }
                }
            }

            .footer-body-section02 {
                width: 50%;

                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 2rem 0rem;
                    letter-spacing: 2px;
                }
            }

            .tc-gold {
                color: rgb(126, 17, 216);
            }
        }
    }
}
