.wrap-inquire {
	position: relative;

	.background-video-inquire {
		height: 100vh;
		width: 100%;
		position: absolute; //視窗定位
		left: 0;
		top: 0;
		z-index: -1;

		video {
			height: 100%;
			width: 100%;
			object-fit: cover; //填滿
		}
	}

	table {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;
		width: 100%;

		tr {
			border-bottom: 2px solid #000;

			.table-data {
				background-color: rgba(0, 255, 149, 0.473);
				color: rgb(228, 219, 219);
			}

			td {
				margin: 2rem;
				padding: 1.25rem;
				background-color: white;
				color: rgb(0, 0, 0);
			}
		}
	}
}
