.wrapManager {
    .background-video-inquire {
        height: 100vh;
        width: 100%;
        position: fixed; //視窗定位
        left: 0;
        top: 0;
        z-index: -1;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover; //填滿
        }
    }

    .manager-table {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;

        tr {
            border-bottom: 2px solid #000;

            .table-data {
                background-color: rgba(0, 133, 88, 0.678);
                color: white;
            }

            td {
                margin: 2rem;
                padding: 1.25rem;
                background-color: white;
                color: rgb(0, 0, 0);

                label {
                    padding: 0.3rem;
                    border-radius: 0.5rem;
                    border: 1px solid gray;
                    cursor: pointer;
                }
            }
        }
    }

    .newprint {
        background-color: rgb(255, 255, 255);
        min-height: 100vh;

        .print-title {
            display: flex;
            justify-content: space-around;
            align-items: center;

            h1 {
                font-size: 3rem;
                font-weight: bolder;
            }

            p {
                display: flex;
                align-items: center;
                font-size: 2rem;
            }
        }

        .print-body {
            border: 1px solid black;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .print-main {
                .print-table01 {
                    display: flex;
                    border: 1px solid black;
                    min-height: 100%;

                    .userprofile {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        div {
                            font-size: 2rem;
                        }
                    }

                    .print-data {
                        .data-section01 {
                            display: flex;

                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                height: 100px;
                                width: 141.5px;
                                border: 1px solid black;
                            }

                            div {
                                height: 100px;
                                width: 200px;
                                border: 1px solid black;
                            }
                        }

                        .data-section02 {
                            display: flex;

                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                height: 100px;
                                width: 165px;
                                border: 1px solid black;
                            }

                            div#data04 {
                                height: 100px;
                                width: 100%;
                                border: 1px solid black;
                            }
                        }

                        .data-section03 {
                            display: flex;

                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                min-height: 100%;
                                width: 165px;
                                border: 1px solid black;
                            }

                            div#data05 {
                                height: 250px;
                                width: 100%;
                                border: 1px solid black;
                            }
                        }
                    }
                }

                .print-table02 {
                    display: flex;
                    border: 1px solid black;

                    .userprofile {
                        display: flex;
                        align-items: center;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 2rem;
                            width: 128px;
                        }
                    }

                    h1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 100%;
                        width: 100%;
                        border: 1px solid black;
                        font-size: 2rem;
                    }

                    .print-other {
                        display: flex;
                        flex-direction: column;

                        .other {
                            display: flex;
                            justify-content: center;

                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                min-height: 100%;
                                width: 140px;
                                border: 1px solid black;
                            }

                            div {
                                height: 100px;
                                width: 374.5px;
                                border: 1px solid black;
                            }
                        }

                        .signature {
                            display: flex;

                            label {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.5rem;
                                min-height: 100%;
                                width: 140px;
                                border: 1px solid black;
                            }

                            div {
                                height: 100px;
                                width: 374.5px;
                                border: 1px solid black;
                            }
                        }
                    }
                }
            }
        }
    }

    input[name="radio-check"] {
        display: none;
    }
}

@media print {

    body * {
        visibility: hidden;
    }

    .newprint,
    .newprint * {
        display: flex;
        visibility: visible;
    }

}