html {
	scroll-behavior: smooth;
}

.repair {
	min-height: 100vh;
	min-width: 100vh;

	.background-video-repair {
		height: 100vh;
		width: 100%;
		position: fixed; //視窗定位
		left: 0;
		top: 0;
		z-index: -1;

		video {
			height: 100%;
			width: 100%;
			object-fit: cover; //填滿
		}
	}

	input[type="text"],
	input[type="number"] {
		padding: 12px 5px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #555;
		outline: none;
	}

	.repair-body {
		background-color: #555;
		overflow: hidden;
		height: 100vh;
		position: relative;
		z-index: 0;
		.repair-main {
			// width: 300px;

			p {
				input,
				textarea {
					border-radius: 15px;
				}
			}

			div {
				margin: 0.3rem 0rem;
			}

			label {
				font-size: 25px;
				color: rgb(252, 252, 252);
			}

			textarea {
				width: 150%;
				height: 150px;
				padding: 12px 5px;
				box-sizing: border-box;
				border: 2px solid #ccc;
				border-radius: 4px;
				background-color: #f8f8f8;
				resize: none;
			}
		}

		.data-button {
			margin: 1rem 0rem;
			width: 100px;
			height: 50px;

			button {
				border-radius: 20px;
				width: 100%;
				height: 100%;
				background-color: #725a5a;
				color: white;
				border: none;
				text-align: center;
			}
		}

		.section {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			transition: all 1s ease;

			.radio-form {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 1.5rem;

				.radio-category {
					color: white;
					margin: 0.3rem;

					input {
						transform: scale(1.2);
					}

					label {
						cursor: pointer;
						font-size: 20px;
					}
				}
			}

			.radio-detailed1,
			.radio-detailed2 {
				color: white;
				display: flex;
				margin: 1.5rem;

				label {
					cursor: pointer;
					font-size: 20px;
					margin: 0.5rem;
				}
			}

			.radio-detailed2 {
				display: none;
			}

			.radio-quess {
				color: white;
				transform: scale(2);
				margin: 1rem;
			}

			.nextbutton {
				margin: 2rem;
				padding: 1rem 2rem;
				border-radius: 25px;
				border: none;
				cursor: pointer;
				border: 2px solid #ccc;
			}

			.nextbutton:hover {
				background-color: #dd5757;
			}
		}

		.scroll {
			transform: translateY(-100%);
		}

		.slide {
			position: absolute;
			right: 0;
			top: 50%;
			z-index: 1;
			display: grid;

			input {
				display: none;
			}

			.radio-input {
				width: 16px;
				height: 16px;
				border: 2px solid rgb(194, 194, 194);
				border-radius: 50%;
				margin: 0.3rem 0.5rem;
				position: relative;
			}
			.radio-input::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: rgb(255, 255, 255);
				opacity: 0;
			}

			input:checked ~ .radio-input::after {
				opacity: 1;
			}
		}
	}
}
