html {
	scroll-behavior: smooth;
}

.repair {
	min-height: 100vh;
	min-width: 100%;

	.background-video-repair {
		height: 100vh;
		width: 100%;
		position: fixed; //視窗定位
		left: 0;
		top: 0;
		z-index: -1;

		video {
			height: 100%;
			width: 100%;
			object-fit: cover; //填滿
		}
	}

	input[type="text"],
	input[type="number"] {
		padding: 12px 5px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #555;
		outline: none;
	}

	.report-warning {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #555;
		padding-top: 1rem;

		p,
		h1 {
			color: rgb(250, 234, 205);
			font-size: 25px;

			a {
				text-decoration: none;
				color: rgb(212, 73, 55);
			}
		}

		h1 {
			font-size: 3rem;
			font-weight: bolder;
			margin: 1rem 0rem;
		}
	}

	.repair-body {
		display: flex;
		background-color: #555;
		overflow-x: hidden;
		height: 100vh;

		.repair-main,
		.repair-main-input {
			width: 50%;
			margin: 0rem 1.5rem;

			p {

				input,
				textarea {
					border-radius: 15px;
				}
			}

			div {
				margin: 0.3rem 0rem;
			}

			label {
				font-size: 25px;
				color: rgb(252, 252, 252);
			}

			textarea {
				width: 150%;
				height: 150px;
				padding: 12px 5px;
				box-sizing: border-box;
				border: 2px solid #ccc;
				border-radius: 4px;
				background-color: #f8f8f8;
				resize: none;
				margin: 0.5rem 0rem;
				font-size: 30px;
			}
		}

		.repair-main {
			position: absolute;
			top: 50%;
			right: 20%;
			width: 20%;
		}

		.data-button {
			margin: 1rem 0rem;
			width: 100px;
			height: 50px;

			button {
				border-radius: 20px;
				width: 100%;
				height: 100%;
				background-color: bisque;
				border: 2px solid rgb(93, 93, 255);
				color: rgb(2, 2, 2);
				text-align: center;
			}

			button:hover {
				background-color: #ff7f7f;
				cursor: pointer;
			}
		}

		.section {
			height: 100vh;
			display: flex;
			justify-content: center;
			// flex-direction: column;
			transition: all 1s ease;
			position: relative;
			min-width: 100%;

			.radio-quess {
				h1 {
					color: rgb(255, 255, 255);
					font-size: 3rem;
					margin: 1rem;
					font-weight: bolder;
				}

				.radio-form {
					margin: 1.5rem;

					.radio-category {
						color: white;
						margin: 0.3rem;

						input {
							transform: scale(1.2);
							margin: 0.8rem;
						}

						label {
							cursor: pointer;
							font-size: 20px;
						}
					}
				}

				.radio-detailed1,
				.radio-detailed2 {
					color: white;
					display: flex;
					margin: 1.5rem;
					flex-direction: column;

					input {
						margin: 1rem;
					}

					label {
						cursor: pointer;
						font-size: 20px;
					}
				}

				.nextbutton {
					margin: 2rem;
					padding: 1rem 2rem;
					border-radius: 25px;
					cursor: pointer;
					border: 2px solid rgb(93, 93, 255);
					background-color: bisque;
					width: 100%;
				}

				.nextbutton:hover {
					background-color: #ff7f7f;
				}
			}
		}

		#section01 {
			display: flex;
			justify-content: center;
			align-items: center;

		}

		#section02 {
			.repair-main-input {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				width: 100%;

				.input-row {
					display: flex;
					justify-content: center;
					align-items: center;

					label {
						font-size: 3rem;
					}

					input {
						width: 300px;
						height: 50px;
						font-size: 30px;
					}
				}
			}
		}

		.scroll {
			transform: translateX(-100%);
		}

		.slide {
			position: absolute;
			right: 0;
			top: 50%;
			z-index: 1;
			display: grid;

			input {
				display: none;
			}

			.radio-input {
				width: 16px;
				height: 16px;
				border: 2px solid rgb(194, 194, 194);
				border-radius: 50%;
				margin: 0.3rem 0.5rem;
				position: relative;
			}

			.radio-input::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: rgb(255, 255, 255);
				opacity: 0;
			}

			input:checked~.radio-input::after {
				opacity: 1;
			}
		}
	}

	.modal {
		display: none;
		/* 預設隱藏 */
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);

		.modal-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			background-color: #fefefe;
			margin: 15% auto;
			padding: 20px;
			border: 1px solid #888;
			width: 20%;
			border-radius: 10px;

			p {
				font-weight: bolder;
				color: #792929;
			}

			.close {
				color: #ce6e6e;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}

			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}